@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html,body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 95vh;
    width: 100%;
    background-color: #141414;
}

.coll1 {
    display: inline;
    position: absolute;
}
    .img01 {
        width: 23%;
        height: 200px;
        margin-left: 10px;
    }
    .img {
        width: 16%;
        height: 145px;
        margin-left: 10px;
    }
    .pac-man {
        padding: 7% 18%;
        font-size: 5em;
        color: rgb(238 255 0);
        text-shadow: black 10px 5px 5px;
        font-family: 'Press Start 2P', cursive;
    }
    h2 {
        margin: 0;
    }

.box {
    width: 90%;
    margin: 30px auto;
}
    .row {
        height: 25px;
        display: flex;
        justify-content: flex-end;
    }
        .cell {
            width: 3%;
            border: 1px solid rgba(19, 19, 32, 0);
        }

.block {
    background-color: #6874ff;
    box-shadow: inset 0px -2px 0rem 3px #0000008c;
}

.divRed{
    background-image: url("./img/pngwing.com\ \(1\).png");
    width: 60%;
    height: 90%;
    background-size: cover;
}
.divBlue{
    background-image: url("./img/pngwing.com.png");
    width: 60%;
    height: 100%;
    background-size: cover;
}
.divPlayer {
    width: 60%;
    height: 90%;
    background-image: url(./img/XOsf.gif);
    background-size: cover;
    border-radius: 100%;
}

.hidden {
    display: none;
}

.victory {
    position: absolute;
    z-index: 1;
    width: 60vw;
    height: 70vh;
    border-radius: 15px;
    background-image: url("./img/881338.jpg");
    background-size: cover;
    top: 90px;
    left: 20vw;
    border: none;
    box-shadow: #f5dc00 0px 2px 30px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    width: 80%;
    margin: 40px auto;
    font-family: 'Press Start 2P', cursive;
    color: #fff;
    font-size: 4.3em;
    text-align: center;
    text-shadow: 0 0 0.6rem #fffdff, 0 0 0.5rem #ff65bd
}

.btnReset {
    width: 30%;
    height: 10%;
    margin: 60px;
    color: rgb(219 247 0);
    box-shadow: 0 0 0.6rem #ffffff, 0 0 0.5rem #d9ff65;
    font-size: 1.5em;
    font-weight: bolder;
    background-color: #1917fe;
    font-family: 'Press Start 2P', cursive;
}
